<%- include('layout') %>
<link rel="stylesheet" type="text/css" href="../stylesheets/users.css" />
<div style="display: flex; justify-content: space-between; align-items: start">
  <h1 style="margin: 0">Users</h1>
  <div class="search-form-container">
    <form action="/users" method="get">
      <select name="field">
        <option value="_id">ID</option>
        <option value="username">Username</option>
        <option value="email">Email</option>
        <option value="role">Role</option>
        <option value="loginMethod">Login Method</option>
        <option value="createdAt">Created At</option>
        <option value="updatedAt">Updated At</option>
      </select>
      <input type="text" name="query" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
  </div>
  <div>
    <button onclick="generateFakeUsers()" class="generate-fake-users">
      Generate Fake Users
    </button>
    <button onclick="deleteAllUsers()" class="delete-all-users">
      Delete All Users
    </button>
    <button onclick="window.location.href='/users/export'" class="export-users">
      Export Users
    </button>
  </div>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>
          <a
            href="?sort=_id&order=<%= order === 'asc' && sort === '_id' ? 'desc' : 'asc' %>"
          >
            ID <% if (sort === '_id') { %> <% if (order === 'asc') { %> ▲ <% }
            else { %> ▼ <% } %> <% } %>
          </a>
        </th>
        <th>
          <a
            href="?sort=username&order=<%= order === 'asc' && sort === 'username' ? 'desc' : 'asc' %>"
          >
            Username <% if (sort === 'username') { %> <% if (order === 'asc') {
            %> ▲ <% } else { %> ▼ <% } %> <% } %>
          </a>
        </th>
        <th>
          <a
            href="?sort=email&order=<%= order === 'asc' && sort === 'email' ? 'desc' : 'asc' %>"
          >
            Email <% if (sort === 'email') { %> <% if (order === 'asc') { %> ▲
            <% } else { %> ▼ <% } %> <% } %>
          </a>
        </th>
        <th>
          <a
            href="?sort=role&order=<%= order === 'asc' && sort === 'role' ? 'desc' : 'asc' %>"
          >
            Role <% if (sort === 'role') { %> <% if (order === 'asc') { %> ▲ <%
            } else { %> ▼ <% } %> <% } %>
          </a>
        </th>
        <th>
          <a
            href="?sort=loginMethod&order=<%= order === 'asc' && sort === 'loginMethod' ? 'desc' : 'asc' %>"
          >
            Login Method <% if (sort === 'loginMethod') { %> <% if (order ===
            'asc') { %> ▲ <% } else { %> ▼ <% } %> <% } %>
          </a>
        </th>
        <th>
          <a
            href="?sort=createdAt&order=<%= order === 'asc' && sort === 'createdAt' ? 'desc' : 'asc' %>"
          >
            Created At <% if (sort === 'createdAt') { %> <% if (order === 'asc')
            { %> ▲ <% } else { %> ▼ <% } %> <% } %>
          </a>
        </th>
        <th>
          <a
            href="?sort=updatedAt&order=<%= order === 'asc' && sort === 'updatedAt' ? 'desc' : 'asc' %>"
          >
            Updated At <% if (sort === 'updatedAt') { %> <% if (order === 'asc')
            { %> ▲ <% } else { %> ▼ <% } %> <% } %>
          </a>
        </th>
        <th>Actions</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
      <tr>
        <td><%= user._id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.loginMethod %></td>
        <td><%= new Date(user.createdAt).toLocaleString() %></td>
        <td><%= new Date(user.updatedAt).toLocaleString() %></td>
        <td>
          <form
            action="/users/<%= user._id %>/edit"
            method="get"
            style="display: inline"
          >
            <button type="submit">Edit</button>
          </form>
          <form
            action="/users/<%= user._id %>"
            method="get"
            style="display: inline"
          >
            <button type="submit" class="detail">Detail</button>
          </form>
        </td>
        <td>
          <form
            action="/users/<%= user._id %>?_method=DELETE"
            method="POST"
            style="display: inline"
            onsubmit="return confirmDelete();"
          >
            <button type="submit" class="delete">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('./partials/pagination') %>
<script src="../javascripts/users.js"></script>
